 <div class="container">
  <div class="center-jumbotron">
    
    <h3>Please input your file to see the longest stacked word tree in your wordlist:</h3>

    <%= form_tag({action: :upload}, multipart: true) do %>
      <%= file_field_tag 'wordlist' %>
      <%= submit_tag("Submit", id: "file-submit") %>
    <% end %>

    <div id="loading">
      <%= image_tag('ajax-loader.gif') %>
    </div>

    <img id="tree" alt="Tree" src="/assets/tree.jpg" />
  </div>
</div>